<header class="header">
    <div class="leftselect">
        <div class="h1tag"><img class="lg" width="200" height="100" src="{{ url_for('static', path='/assets/IDS_black.svg') }} ">
        <a class="nav-link" href="/">Главная</a>
        <a class="nav-link" href="http://store.intelligent-digital-systems.ru/about/">О нас</a>
        <a class="nav-link" href="http://store.intelligent-digital-systems.ru">Магазин</a>
        <a class="nav-link" href="/case_list">Проекты </a>
        <a class="nav-link" href="http://blog.intelligent-digital-systems.ru">Блог</a>
        {% include "common_part/components/modal_window.html" %}
        </div>
    </div>
    <div class="rightselect"></div>
    <div class="rs"><select class="header__select">
    <option>RU</option>
    <option>EN</option>
    </select>
    <input type="text" class="search">
    <button class="search-button">
        <img class="searchimg" src="{{ url_for('static', path='/assets/search.svg') }} ">
    </button>
    <div class="change_account_button">
    <button class="voity">Войти</button></div></div>
</header>