{% extends "common_part/base.html" %}

{% block title %}Пример портфолио{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', path='/styles/common_part/cv_detail.css') }} ">
{% endblock %}

{% block content %}
<div class="screen">
    <div class="div">
        <div class="view">
            <div class="softskills"><div
                    class="text-wrapper">SOFTSKILLS</div></div>
            <div class="view-wrapper">
                <div class="view-2">
                    <div class="text-wrapper-2">Креативность</div>
                    <div class="text-wrapper-3">Внимание к деталям</div>
                    <div class="text-wrapper-3">Умение работать в команде</div>
                    <div class="text-wrapper-3">Стрессоустойчивость</div>
                    <div class="text-wrapper-3">Быстрообучаемость</div>
                </div>
            </div>
        </div>
        <div class="view-3">
            <div class="div-wrapper"><div class="text-wrapper-4">Опыт работы</div></div>
            <div class="view-4">
                <div class="view-5">
                    <div class="text-wrapper-5">Графический дизайнер</div>
                    <div class="text-wrapper-5">OOO”Burning city”</div>
                    <p class="p">Июнь 2016 – Май 2018</p>
                </div>
            </div>
        </div>
        <img class="line"
            src="https://c.animaapp.com/LEpJzhag/img/line-14.png" />
        <div class="overlap-group">
            <div class="view-6">
                <div class="view-7">
                    <div class="text-wrapper-6">Иванов Иван Иванович</div>
                    <div class="text-wrapper-7">Програмист</div>
                    <div class="text-wrapper-5">27 лет</div>
                </div>
                <div class="image-wrapper"><img class="image"
                        src="https://c.animaapp.com/LEpJzhag/img/image-6.png" /></div>
            </div>
        </div>
        <div class="view-14">
            <div class="view-15"><div
                    class="text-wrapper">Сертификаты</div></div>
            <div class="view-16">
                <img class="img"
                    src="https://c.animaapp.com/LEpJzhag/img/image-7@2x.png" />
                <img class="image-2"
                    src="https://c.animaapp.com/LEpJzhag/img/image-8@2x.png" />
            </div>
        </div>
        <div class="view-17">
            <div class="hardskills"><div
                    class="text-wrapper-12">HARDSKILLS</div></div>
            <div class="view-18">
                <div class="view-19">
                    <p class="c"><br />Английский — Свободное владение (C1)</p>
                    <p class="text-wrapper-13">Немецкий — Базовый уровень
                        (A2)</p>
                    <div class="frame">
                        <img class="img-2"
                            src="https://c.animaapp.com/LEpJzhag/img/photoshop@2x.png" />
                        <img class="img-2"
                            src="https://c.animaapp.com/LEpJzhag/img/illustrator@2x.png" />
                        <img class="figma"
                            src="https://c.animaapp.com/LEpJzhag/img/figma@2x.png" />
                    </div>
                </div>
            </div>
        </div>
        <div class="view-20">
            <div class="view-21">
                <div class="view-22"><div class="text-wrapper-14">ОБРАЗОВАНИЕ</div></div>
                <div class="view-23">
                    <div class="view-24">
                        <p class="text-wrapper-15"><br />Московский
                            государственный университет имени М.В.
                            Ломоносова</p>
                        <div class="text-wrapper-16">2020</div>
                        <div class="text-wrapper-5">Факультет журналистики</div>
                        <div class="text-wrapper-5">Графический дизайн и
                            медиакоммуникации</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}
