{% extends "common_part/base.html" %}
{% block title %}Отклик на вансии{% endblock %}
{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', path='/styles/common_part/job_application.css') }} " />
{% endblock %}
{% block content %}
  <main class="container">
    <section class="job-apply">
      <h1 class="form-title" id="title">Отклик на вакансию Senior Frontend Developer</h1>

      <form id="jobApplicationForm">
        <div class="form-group">
          <label class="form-label">ФИО</label>
          <input type="text" class="form-input" name="full_name" required>
        </div>

        <div class="form-group">
          <label class="form-label">Email</label>
          <input type="email" class="form-input" name="email" required>
        </div>

        <div class="form-group">
          <label class="form-label">Телефон</label>
          <input type="tel" class="form-input" name="phone" required>
        </div>

        <div class="form-group">
          <label class="form-label">Сопроводительное письмо</label>
          <textarea class="form-input" name="description" required></textarea>
        </div>

        <div class="form-group">
          <label class="form-label">Резюме</label>
          <label class="file-upload">
            <input type="file" name="myfile" hidden accept=".pdf,.doc,.docx">
            <svg class="file-upload__icon" viewBox="0 0 24 24" fill="none" stroke="currentColor">
              <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path>
              <polyline points="14 2 14 8 20 8"></polyline>
              <line x1="12" y1="18" x2="12" y2="12"></line>
              <line x1="9" y1="15" x2="15" y2="15"></line>
            </svg>
            <span>Перетащите файл или нажмите для загрузки</span>
          </label>
        </div>

        <button type="submit" class="button">Отправить заявку</button>
        <div class="error-message"></div>
        <div class="progress">
          <div class="progress-bar">
            <div class="progress-bar__fill"></div>
          </div>
        </div>
      </form>
    </section>
  </main>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', path='/js/common_part/job_application.js') }} "></script>
{{ super() }}
{% endblock %}

