{% extends "common_part/base.html" %}

{% block title %}Вакансии{% endblock %}

{% block styles %}
  {{ super() }} 
  <link rel="stylesheet" href="{{ url_for('static', path='/styles/common_part/job_posting.css') }}">
{% endblock %}

{% block content %}
  <main class="container">
    <section class="filters">
      <form class="filters__form">
        <input type="text" class="filters__input" placeholder="Должность, ключевые слова" name="position">
        <input type="text" class="filters__input" placeholder="Город" name="city" >
        <select class="filters__input" name="employmentType">
          <option value="">Тип занятости</option>
          <option value="Полная">Полная</option>
          <option value="Частичная">Частичная</option>
          <option value="Удаленная">Удаленная</option>
        </select>
        <select class="filters__input" name="level">
          <option value="">Уровень</option>
          <option value="junior">Junior</option>
          <option value="middle">Middle</option>
          <option value="senior">Senior</option>
        </select>
      </form>
    </section>
    <section class="job-list">
    </section>
  </main>
{% endblock %}
{% block scripts %}
  {{ super() }} 
  <script src = "{{ url_for('static', path='/js/common_part/job_posting.js') }}"></script>
{% endblock %}
